@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Firefox */
.scrollable-container {
    scrollbar-width: thin;  /* For Firefox */
    -ms-overflow-style: none;  /* For IE and Edge */
  }

body {
    max-width: 1444px;
    margin: auto;
}